<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="Draw3D" id="draw3DID"/>

    <bean class="Draw2D" id="draw2DID"/>

    <bean class="Square" id="squareID" scope="prototype">
        <property name="draw3D" ref="draw3DID"/>
        <property name="draw2D" ref="draw2DID"/>
        <property name="databaseOperations" ref="init-destroy"/>
    </bean>

    <bean class="Circle" id="circleID"> <!--singleton is default-->
        <constructor-arg index="0" ref="draw2DID"/>
        <constructor-arg index="1" ref="draw3DID"/>
        <constructor-arg index="2" ref="init-destroy"/>
    </bean>

    <bean id="init-destroy" class="DatabaseOperations" init-method="connectToDatabase"
          destroy-method="disconnectFromDatabase"/>

</beans>